<% provide(:title, '| Home | Index') %>

<nav><span><a href="/leaderboard">Leaderboard</a></span></nav>

<script> 
	$(document).ready(function(){
      
    $("#try").hide();
    $("#info").hide();
    $("#controls").hide();
  		
    $("#title").on("click",function(){
  	  $(this).css("opacity", 1);
  	  $("#upper").css("opacity", 0.5);
  	  $("#lower").css("opacity", 0.5);
      $("#headingchamp").html('<%= h @font_1.title %>');
      $("#challenger").html('<%= h @font_2.title %>');
  	});
      
    $("#heading_vote").click(function(){
      
      var fontid='<%= h @font_1.id %>'
      $(".text").html(fontid);
      $.ajax({type: "POST", url: 'fonts/'+fontid+'/vote', success: function(){
          $(".text").html('voted');
        }
      });
    });
      
  	$("#upper").on("click",function(){
  	  $(this).css("opacity", 1);
  	  $("#title").css("opacity", 0.5);
  	  $("#lower").css("opacity", 0.5);
  	  $(".text").html("ABCDEFGH<br>IJKLMNOPQR<br>STUVWXYZ");
  	});
      
  	$("#lower").on("click",function(){
  	  $(this).css("opacity", 1);
  	  $("#title").css("opacity", 0.5);
  	  $("#upper").css("opacity", 0.5);
  	  $(".text").html("abcdefgh<br>ijklnopqr<br>stuvwxyz");
    });
    
    $("#plus").click(function(){
      $("#controls").slideToggle("slow");
    });
    
    $("#i").on("click",function(){
      $("#try").fadeToggle();
      $("#info").fadeToggle();
    });
    
  });
</script>

<div id="info">
  <div class="info top"><%= @font_1.title %></div>
  <div class="info bottom"><%= @font_2.title %></div>
</div>
  
<div id="try">
  <p class="try top">Try on <%= link_to @font_1.linktitle, @font_1.link%></p>
  <p class="try bottom">Try on <%= link_to @font_2.linktitle, @font_2.link%></p>
</div>

<div class="container">

  <!-- top -->

  <div class="votearea" id="heading_vote">
		<div class="text" id="headingchamp" rows="1"><%= @font_1.title %></div>
  </div>
  
	<!-- middle -->
      
	<div class="middle">
 		<div class="buttons" id="i"><%= image_tag "i.png" %></div>
    <div class="divider"></div>
    <div class="buttons" id="plus"><%= image_tag "plus.png" %></div>
    <%= link_to "", "", :method => "get", :class => "next" %>
    <div class="controls" id="controls">
      <div class="controlbutton"><p id="title">Title</p></div>
      <div class="controlbutton"><p id="upper">ABC</p></div>
      <div class="controlbutton"><p id="lower">abc</p></div>
    </div>
	</div>
      
	<!-- bottom -->
    
  <div class="votearea" id="challenger_vote">
		<div class="text" id="challenger" rows="1"><%= @font_2.title%></div>
  </div>
      
	<!-- -->
      
</div>
