<% provide(:title, 'Home | Index') %>
		<nav><span id="nav">How it works</span>&emsp;<span><a href="leaderboard.html">Leaderboard</a></span></nav>
		<div class="container">
			
			<!-- HOW IT WORKS -->

			<div id="howitworks">
				<div id="thirty"><h5>What is Type Off?</h5><p>A daily source of web font inspiration. Type Off is a type based game in which two web fonts go head to head ...</p></div>
				<div id="fourteen"><h5>What you see</h5><p>The Champions (left)<br>The Challengers (right)<br>Headings (top)<br>Text (bottom)</p></div>
				<div id="fourteen"><h5>What you do</h5><p>Vote for your favourite Heading and Text fonts by clicking the adjacent vote count buttons. </p></div>
				<div id="fourteen"><h5>What happens next</h5><p>Each round lasts one day. At the end of the day, the font with the most votes in each category becomes the champion.</p></div>
			</div>

			<!-- top -->
      
      <%= link_to "", {controller: "font"}, :action => "vote", class: "votearea" %>
				<div class="info">
					<%= @font_1.title %><p class="try">Try on <%= link_to @font_1.linktitle, @font_1.link%></p>
				</div>
				<textarea id="headingchamp" rows="1"><%= @font_1.title %></textarea>
				<div class="controls">Hello</div>
			<% end %>

			<!-- middle -->

			<div class="middle">
 				<%= link_to "", "", :method => "get", :class => "prevnext prev" %><div class="divider"></div><%= link_to "", "", :method => "get", :class => "prevnext next" %>
			</div>


			<!-- bottom -->

			<div class="votearea">
				<div class="info">
					<%= @font_2.title %><p class="try">Try on <%= link_to @font_2.linktitle, @font_2.link%></p>
				</div>
				<textarea id="challenger" rows="1"><%= @font_2.title%></textarea>
				<div class="controls">
					<input type="range" min="1" max="100">
				</div>
			</div>	

			<!-- -->

		</div>
