<% provide(:title, '| Home | Index') %>

<%= javascript_include_tag params[:index] %>

<script>
$(document).ready(function(){
  $("#heading_vote").click(function(){
    $.ajax({
      type: "POST",
      url: 'fonts/'+'<%= @font_1.id %>'+'/'+'<%= @font_2.id %>'+'/vote',
      //data: {key: value},
      dataType : 'script',
    });
  });
  
  $("#challenger_vote").click(function(){
    $.ajax({
      type: "POST",
      url: 'fonts/'+'<%= @font_2.id %>'+'/'+'<%= @font_1.id %>'+'/vote',
      //data: {key: value},
      dataType : 'script',
    });
  });  
});
</script>

<div id="info">
  <div class="info top"><%= @font_1.title %></div>
  <div class="info bottom"><%= @font_2.title %></div>
</div>
  
<div id="try">
  <p class="try top">Try on <%= link_to @font_1.source, @font_1.link%></p>
  <p class="try bottom">Try on <%= link_to @font_2.source, @font_2.link%></p>
</div>

<div class="container">

  <a href="/leaderboard"><div class="controlbutton" id="leaderboard"></div></a>

  <ul id="controls">
    <li id="title">T</li>
    <li id="upper">A</li>
    <li id="lower">a</li>
  </ul>

  <!-- top -->

  <div class="votearea" id="heading_vote">
      <span class="text" value=<%= @font_1.source %> href=<%= @font_1.link %> id="font1" style=<%= @font_1.style %> ><%= @font_1.title %></span>
  </div>
  
	<!-- middle -->

  <div id="infotwo"></div>

    <%= link_to "", "", :method => :get, :class => 'next', :id => 'next' %>


	<!-- bottom -->
    
  <div class="votearea" id="challenger_vote">
      <span class="text" value=<%= @font_2.source %> href=<%= @font_2.link %> id="font2" style=<%= @font_2.style %> ><%= @font_2.title %></span>
  </div>
      
	<!-- -->
      
</div>
