
<% provide(:title, '| Home | Leaderboard') %>

<nav><span><a href="/#">New Round</a></span></nav>

<% javascript 'leaderboard' %>

<div class="container">
  <table id="headings">
    <thead>
		  <tr class="top">
		    <th class="one"></th>
		    <th class="two"></th>
			  <th class="three">Votes</th>
			  <th class="four">Win %</th>
		  </tr>
	  </thead>
    
    <tbody>
      <% @fonts.each do |font| %>
        <tr>
          <td class="two">
            <span value=<%= font.source %> href=<%= font.link %> id=<%= font.name %> style=<%= font.style %> ><%= font.title %></span>
          </td>
          <td><%= font.link %></td>
          <td><%= font.votes %></td>
        </tr>
      <% end %> 
    </tbody>
  </table>
</div>			