<br><br><br><br><br><br><br><br>

<h1> List Fonts </h1>

<%= link_to 'New Font', new_font_path %><br><br>

<table>
  <tr>
    <th>Title</th>
    <th>ID</th>
    <th>Link</th>
    <th>Source</th>
    <th>Style</th>
    <th>Votes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% @fonts.each do |font| %>
    <tr>
      <td><%= font.title %></td>
      <td><%= font.name %></td>
      <td><%= font.link %></td>
      <td><%= font.source %></td>
      <td><%= font.style %></td>
      <td><%= font.votes %></td>
      <td><%= link_to 'Show', font_path(font) %></td>
      <td><%= link_to 'Edit', edit_font_path(font) %></td>
      <td><%= link_to 'Destroy', font_path(font), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>  
</table>