<br><br><br><br><br><br><br><br>

<%= link_to 'New Font', new_font_path %> | 
<%= link_to 'List Fonts', fonts_path %> | 
<%= link_to 'Edit Font', edit_font_path %>

<p>
  <strong>Font Title</strong>
  <%= @font.title %>
</p>

<p>
  <strong>Link Title:</strong>
  <%= @font.linktitle %>
</p>

<p>
  <strong>Link URL:</strong>
  <%= @font.link %>
</p>

<p>
  <strong>Votes</strong>
  <%= @font.votes %>
</p>