<%= link_to 'New Font', new_font_path %><br><br>
<%= link_to 'List Fonts', fonts_path %><br><br>

<p>
  <strong>Font Title</strong>
  <%= @font.title %>
</p>

<p>
  <strong>Link Title:</strong>
  <%= @font.linktitle %>
</p>

<p>
  <strong>Link URL:</strong>
  <%= @font.link %>
</p>