<!DOCTYPE html>
<html>
	<head>
		<title>Type Off <%= yield(:title) %></title>
    
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    
	</head>
  <body>
    <div class="logo"><%= image_tag "logo.svg" %></div>
    
    <%= yield :head %>
    
    <%= yield %>
  
  </body>
</html>