<!DOCTYPE html>
<html>
	<head>
		<title>Type Off <%= yield(:title) %></title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
  <body>
    <div class="logobg"></div>
    <div class="logo"><a href="#"><%= image_tag "logo.png" %></a></div>
    <nav><span><a href="leaderboard.html">Leaderboard</a></span></nav>
    <%= javascript_include_tag "application" %>
    <%= yield %>
  
  </body>
</html>